{% extends 'workers/base.html' %}

{% block divisions %}

{{ flatpages.content }}


<div id="inst">
<h2>Руководство пользователя</h2>
<ol class="rectangle">
    <li><a href="#"><h4>Общие рекомендации по работе с приложением</h4></a>
    <ul>
            <li>
                Первая буква в названии должности, подразделения, службы – всегда заглавная;
            </li>
             <li>
                Между словами при именовании должностей, подразделений, служб – 1 пробел;
             </li>
            <li>
                Перед скачиванием отчетов добавить хотя бы по одному подразделению, должности, службу штату должности в подразделении, сотруднику.
            </li>

    </ul>
        <p>Эти рекомендации помогут уменьшить количество ошибок работы приложения. </p>
    </li>
    <li>
        <a href="#"><h4>Функции приложения</h4></a>
            <p>Данное приложение осуществляет имеет функции:</p>
        <ol class="square">
            <li>
                Добавление/редактирование/удаление подразделений, служб, должностей, штатных размеров должностей в подразделениях, сотрудников и вакансий;
            </li>
             <li>
                Получение excel-отчетов об укомплектованности отряда, списка сотрудников отряда и списка сотрудников, которым предстоит аттестация в ближайшие 90 дней.
             </li>
        </ol>
    </li>
    <li>
        <ul><a href="#"><h4>Уровни и права доступа</h4></a>
            <p>Для действий, описанных в пункте 2, предусмотрены группы пользователей с различными правами доступа:</p>
            <li>
                <b>Уровень 0</b>: имеет права доступа для всех действий;
            </li>
            <li>
            <b>Уровень 1</b>: может добавлять/редактировать/удалять сотрудников и вакансии, скачивать отчеты;
            </li>
            <li>
            <b>Уровень 2</b>: не имеет прав добавления/редактирования/удаления, только получение отчетов.
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><h4> Пояснения к страницам</h4></a>
        <ol class="square">
        <li>
            <h5>Домашняя страница. (‘Сотрудники’ в правом верхнем углу)</h5>
            <p>После авторизации пользователь видит домашнюю страницу, которая представляет собой таблицу сотрудников отряда, разбитую по подразделениям </p>
            <p>В конце подтаблицы каждого подразделения выводится итоговая информация по подразделению, а под самой таблицей можно увидеть итоговую информацию по отряду.</p>
            <p>Внутри подразделения сотрудники выводятся соответственно приоритету, указанному при добавлении сотрудника/вакансии.</p>
            <p><span style="color:red">Красным шрифтом</span> указаны вакансии, <span style="background:yellow">желтым фоном</span> – сотрудники, которым в ближайшие 90 дней предстоит переаттестация.</p>
            <p>Слева от таблицы находится блок с полем поиска по ФИО сотрудника и фильтрами по подразделению, должности, принадлежности к оперативному составу, принадлежности к спасателям, полу и по принадлежности к числу скороаттестующихся.</p>
            <p>Для скачивания списка скороаттестующихся нужно нажать на кнопку 'Скачать’ справа от соответствующего фильтра.</p>
            <p>Для выполнения поиска по ФИО после введения информации в поле нужно нажать на иконку лупы, для поиска по фильтрам – нажать на кнопку 'Найти’ под фильтрами.</p>
            <p>При выполнении поиска по ФИО/фильтрам итоговые таблицы подразделений и отряда будут скрыты, вместо них появится строка ‘Итого по запросу’ с количеством сотрудников, соответствующих выполненному запросу.</p>
            <p>Под фильтрами имеется несколько кнопок, ведущих на соответствующие страницы добавления.</p>
            <p>Для получения списка сотрудников в виде excel-файла необходимо нажать кнопку ‘Скачать список сотрудников’, находящуюся под итоговой таблицей отряда.</p>
            <p>При нажатии на имя сотрудника в таблице пользователь перейдет на страницу сотрудника, содержащую информацию о нем и фото. Под ними будут кнопки для редактирования и удаления сотрудника. </p>
            <p>При нажатии на название должности в таблице откроется страница с информацией о должности и списком штатных размеров этой должности в подразделениях отряда. Для редактирования/удаления должности нужно нажать на ее название в верхней ячейке таблицы.</p>

        </li>
            <li><h5>Страница подразделений (‘Подразделения’ в правом верхнем углу)</h5>
            <p>Содержит список подразделений, при нажатии на любую из них будет совершен переход на страницу подразделения. </p>
            <p>Страница подразделения соответствует главной странице с несколькими отличиями:</p>

                <p>
                   1. Нет фильтра по подразделению, а поиск по фильтрам и ФИО совершается внутри выбранного подразделения;
                </p>
                <p>
                   2. Отсутствуют кнопки для скачивания отчетов;
                </p>
                <p>
                   3. Нажатие на должность ведет на страницу штата(размера) этой должности в этом подразделении с возможностью его редактирования;
                </p>
                <p>
                   4. Нажатие на название подразделения ведет на страницу редактирования подразделения.
                </p>

            </ul>
            </li>
            <li>
                <h5>Страница укомплектованности отряда (‘Укомплектованность’ в правом верхнем углу)</h5>
                <p>Содержит таблицу, примерно соответствующую стандартизированному отчету об укомплектованности. Под таблицей расположена кнопка для скачивания excel-отчета стандартного вида.</p>
                <p>Справа от таблицы находятся кнопки для добавления служб и должностей.</p>
                <p>При нажатии на службу в таблице откроется страница редактирования/удаления службы.</p>
                <p>При нажатии на название должности в таблице откроется страница с информацией о должности и списком штатных размеров этой должности в подразделениях отряда. Для редактирования/удаления должности нужно нажать на ее название в верхней ячейке таблицы.</p>
            </li>
        <li>
            <h5>Добавление информации</h5>
            <p>Чтобы информация в таблицах и отчетах выводилась корректно, необходимо соблюдать следущий порядок добавления информации:</p>
            <ol class="square">
                <li>Добавить подразделения;</li>
                <li>Добавить службы;</li>
                <li>Добавить должности (для каждой должности указать службу);</li>
                <li>Добавить должности в подразделения;</li>
                <li>Добавить сотрудников/вакансии.</li>
            </ol>

        </li>
            <li>
                <h5>Редактирование информации</h5>
                <p>Редактировать информацию о подразделении можно по нажатию на    соответсвующую кнопку на странице подразделения.</p>
                <p>Редактировать информацию о службе можно по нажатию на    название службы  на странице укомплектованности.</p>
                <p>Редактировать информацию о должности можно по нажатию на    название сдолжности в таблице на домашней странице или странице подразделения.</p>
                <p>Информацию о должности в подразделении можно редактировать, перейдя на страницу соответствующего подразделения и нажав на название нужной должности.</p>
                <p>Информацию о сотруднике/вакансии можно редактировать по нажатию на имя сотрудника/вакансию в таблице на домашней странице или странице подразделения.</p>
                <p>При найме сотрудника необходимо перейти на страницу соответсвующей вакансии, нажать ‘Редактировать’. Если сотруднику требуется аттестация, после ее прохождения выбрать ‘ДА’ на пункте ‘Аттестован’ и указать дату аттестации.</p>
            </li>
            <li>
                <h5>Удаление информации</h5>
                <p>Кнопки для удаления объектов располагаются рядом с кнопками их редактирования.</p>
            </li>
        </ol>
    </li>
</ol>

</div>
{% endblock divisions %}