{% extends 'workers/base.html' %}
{% load static time_to_attestation is_zero to_slug %}
{% block content %}
{% block sidebar %}
<div class="side-bar col-lg-3 mt-1">

    {% endblock sidebar %}
    {% include 'include/division_sidebar.html' %}
    <div>

            <a class="work_btn btn-info" href="{% url 'workers:edit_division' division.id %}">Редактировать подразделение</a>
            <a class="del_btn btn-danger " href="{% url 'workers:delete_division' division.id %}">Удалить подразделение</a>

    </div>
</div>

<div class="tab_cont">
    <div class="table_wrapper">
        <table class="table" id="tab" >

            <thead>
            <tr>
                <th align="center" colspan="6">{{ division.name }}</th>
            </tr>
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Оперативный состав</th>
                <th>Спасатель</th>
                <th>Дата начала службы</th>
                <th>Дата следующей аттестации</th>
            </tr>
            </thead>
            <tbody>
            {% if division.division_workers.all %}
            {% if worker_list %}
            {% for worker in worker_list %}


            <tr {% if worker.name == 'Вакансия' %} class="vac" {% endif %} {% if worker.attestated and worker.date_attestation|time_between_now_and_next_attestation %} style="background-color: #ffff00" {% endif %}>
                <td><a href="{% url 'workers:worker_detail' worker.id %}">{% if worker.name == 'Вакансия' %}{{ worker.name.upper }} {% else %} {{ worker.get_full_name }} {% endif %}</a></td>
                <td><a href="{% url 'workers:post_state_detail' pk_div=division.id pk_post=worker.post.id %}">{{ worker.post.name }}</a></td>
                <td>{% if worker.post.operative %}<image src="{% static 'images/icon-True.svg' %}"></image>
                    {% else %}<image src="{% static 'images/icon-False.svg' %}"></image>{% endif %}</td>
                <td>{% if worker.post.rescuer %}<image src="{% static 'images/icon-True.svg' %}"></image>
                    {% else %}<image src="{% static 'images/icon-False.svg' %}"></image>{% endif %}</td>
                <td>{{ worker.date_beginning|is_zero }}</td>
                <td>{% if not worker.post.rescuer %}
                    Не аттестуется
                    {% elif worker.attestated %}
                    {{ worker.date_attestation|next_attestation }}
                    {% else %}
                    В ближайшее время
                    {% endif %}
                </td>

            </tr>
            {% endfor %}


            {% if filter %}
            <tr>
                <th align="center" colspan="6" class="table_foot_1">Штат: {{ division.get_state }}</th>
            </tr>
            <tr>
                <th align="center" colspan="6" class="table_foot_2">Фактически: {{ division.division_workers.all|length }}</th>
            </tr>
             <tr>
                <th align="center" colspan="6" class="table_foot_3">Вакансии:{% if division.get_vacancies %} {{ division.get_vacancies }} {% else %} 0 {% endif %}</th>
            </tr>
            <tr>
                <th align="center" colspan="6" class="table_foot_4">Вакансии: {{ view.get_vacancies_number }} </th>
            </tr>
            </tbody>
            {% endif %}
            {% else %}
            <tr>
                <td colspan="6">Нет сотрудников по этому запросу</td>
            </tr>
            {% endif %}
            {% else %}
            <tr>
                <td colspan="6">Ожидает заполнения</td>
            </tr>
            {% endif %}

        </table>
    </div>
</div>
{% endblock content %}