{% extends 'base.html' %}
{% block base %}
    <section class="ab-info-main py-md-0 py-0 editContent" style="padding-left: 0rem; padding-right: 0rem;">
        {% block container %}
            <div class="container-fluid">
        {% endblock container %}
            <div class="row">

                {% block content %}
                {% endblock content %}

            </div>
                <div class="pt-5">
                {% block divisions %}
                {% endblock divisions %}
                </div>
        </div>
    </section>
{% endblock base %}