{% extends 'workers/base.html' %}
{% block title %} Редактировать подразделение {{ division.name }} {% endblock title %}
{% load bootstrap4 %}
{% block divisions %}

<div class="col-lg-4 offset-lg-4">
  <form action="{% url 'workers:edit_division' division.id %}" method="post" >

    {% csrf_token %}
    {% bootstrap_form form %}

      <button name="submit" class="btn btn-outline-info btn-lg bg-info text-light d-block mx-auto" >Сохранить изменения</button>

  </form>
</div>
{% endblock divisions %}