{% extends 'workers/base.html' %}
{% load bootstrap4 %}
{% block divisions %}

<div class="col-lg-4 offset-lg-4">
  <form action="{% url 'workers:edit_service' service.id %}" method="post" >

    {% csrf_token %}
    {% bootstrap_form form %}

      <button name="submit" class="btn btn-outline-info btn-lg bg-info text-light d-block mx-auto" >Сохранить изменения</button>

  </form>

</div>
<div class="col-lg-2 offset-lg-5 mt-4">
  <a class="del_btn worker_detail_btns btn-danger " href="{% url 'workers:delete_service' service.id %}">Удалить службу</a>
</div>
{% endblock divisions %}