{% extends 'workers/base.html' %}
{% load bootstrap4 %}
{% block title %} Редактировать {{ poststate.name }} {% endblock title %}
{% block content %}

<div class="col-lg-4 offset-lg-4 mt-5">
  <form action="#" method="post" >

    {% csrf_token %}
    {% bootstrap_form form %}

      <button name="submit" class="btn btn-outline-info btn-lg bg-info text-light d-block mx-auto">Сохранить изменения</button>
      <input type="hidden" class="checked" name="division" value="{{ self.get_division.id }}">

  </form>
</div>
{% endblock content %}