{% extends 'workers/base.html' %}

{% load bootstrap4 %}

{% block title %} Редактировать должность {{ post.name }} {% endblock title %}
{% block divisions %}

<div class="col-lg-4 offset-lg-4">
  <form action="{% url 'workers:edit_post' post.id %}" method="post" >

    {% csrf_token %}
    {% bootstrap_form form %}

      <button name="submit" class="btn btn-outline-info btn-lg bg-info text-light d-block mx-auto" >Сохранить изменения</button>
    <div class="col-lg-6 offset-lg-3 mt-2">
      <a class="del_btn worker_detail_btns btn-danger ml-1 " href="{% url 'workers:delete_post' post.id %}">Удалить должность</a>
    </div>
  </form>
</div>
{% endblock divisions %}