{% extends 'workers/base.html' %}
{% load static is_zero time_to_attestation %}
{% block title %} Список сотрудников {% endblock title %}
{% block content %}
{% block sidebar %}
<div class="side-bar col-lg-3 mt-1">

    {% endblock sidebar %}
    {% include 'include/sidebar.html' %}
    <div>

            <a class="work_btn btn-info" href="{% url 'workers:new_worker' %}">Добавить сотрудника</a>

            <a class="work_btn btn-info" href="{% url 'workers:new_vacancy' %}">Добавить вакансию</a>

            <a class="work_btn btn-info" href="{% url 'workers:new_post' %}">Добавить должность</a>


            <a class="work_btn btn-info" href="{% url 'workers:new_division' %}">Добавить подразделение</a>

            <a class="work_btn btn-info" href="{% url 'workers:new_post_state' %}">Добавить должность в подразделение</a>


    </div>
</div>

<div class="tab_cont">
    <div class="table_wrapper">
        {% if division_list %}
        <table class="table" id="tab" >
            {% for division in division_list %}
            <thead>
            <tr>
                <th align="center" colspan="6"><a class="division_link" style="color:white" href="{% url 'workers:division_detail' division.id %}">{{ division.name }}</a></th>
            </tr>
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Оперативный состав</th>
                <th>Спасатель</th>
                <th>Дата начала службы</th>
                <th>Дата следующей аттестации</th>
            </tr>
            </thead>
            <tbody>
            {% if division.division_workers.all %}
            {% for worker in division.division_workers.all %}
            {% if worker in worker_list %}
            <tr {% if worker.name == 'Вакансия' %} class="vac" {% endif %} {% if worker.attestated and worker.date_attestation|time_between_now_and_next_attestation %} style="background-color: #ffff00" {% endif %}>
                <td><a href="{% url 'workers:worker_detail' worker.id %}">{% if worker.name == 'Вакансия' %}{{ worker.name.upper }} {% else %} {{ worker.get_full_name }} {% endif %}</a></td>
                <td><a href="{% url 'workers:post_detail' worker.post.id %}">{% if worker.post %}{{ worker.post }} {% if worker.post.priority in view.get_service_priorities %} ({{worker.post.service_in_name}}.сл) {% endif %} {% endif %}</a></td>
                <td>{% if worker.post%}{% if worker.post.operative %}<image src="{% static 'images/icon-True.svg' %}"></image>
                    {% else %}<image src="{% static 'images/icon-False.svg' %}"></image>{% endif %}{% endif %}</td>
                <td>{% if worker.post %}{% if worker.post.rescuer %}<image src="{% static 'images/icon-True.svg' %}"></image>
                    {% else %}<image src="{% static 'images/icon-False.svg' %}"></image>{% endif %}{% endif %}</td>
                <td>{{ worker.date_beginning|is_zero }}</td>
                <td>{% if worker.post %}{% if not worker.post.rescuer %}
                    Не аттестуется
                    {% elif worker.attestated %}
                    {{ worker.date_attestation|next_attestation }}
                    {% else %}
                    В ближайшее время
                    {% endif %}
                    {% endif %}
                </td>

            </tr>

            {% endif %}
            {% endfor %}
            {% if filter %}
            <tr>
                <th align="center" colspan="6" class="table_foot_1">Штат: {{ division.get_state }}</th>
            </tr>
            <tr>
                <th align="center" colspan="6" class="table_foot_2">Списочно: {{ division.get_division_workers_number }}</th>
            </tr>
            <tr>
                <th align="center" colspan="6" class="table_foot_3">Фактически: {{ division.get_division_on_duty }}</th>
            </tr>
            <tr>
                <th align="center" colspan="6" class="table_foot_4">Вакансии: {{ division.get_vacancies }}</th>
            </tr>
            </tbody>

            {% endif %}
            {% else %}
            <tr>
                <td colspan="6">Ожидает заполнения</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        {% else %}
        <h2>Нет данных по этому запросу</h2>
        {% endif %}
    </div>
    {% if filter %}
     <div>
        <table border="1" cellpadding="4" cellspacing="0" id="table_total" >
            <tr>
                <th rowspan="4">Итого по отряду:</th>


                <td colspan="2" class="table_foot_1">Штат: {{ view.get_state|is_zero }} </td>
            </tr>
            <tr>
                <td class="table_foot_2">Списочно: {{ view.get_workers_number }} </td>
            </tr>
            <tr align="center">
                <td class="table_foot_3">Фактически: {{ view.get_on_duty }} </td>
            </tr>
            <tr align="center">
                <td class="table_foot_4">Вакансии: {{ view.get_vacancies_number }} </td>
            </tr>
        </table>
    </div>
    {% else %}
    <div>
        <table border="1" cellpadding="4" cellspacing="0" id="table_total" >
            <tr>
                <th colspan="2">Итого по запросу:</th>
                <td colspan="2"  class="table_foot_2"> {{ worker_list|length }} </td>
            </tr>


        </table>
    </div>
    {% endif %}
<a class="work_btn btn-info mt-2" href="{% url 'sendfile:download_list_report' %}">Скачать список сотрудников</a>
</div>

{% endblock content %}